* text=auto !eol
/build.gradle -text
contracts/sqls/DataManagement/pnr/selectPnrSearchList.sql -text
contracts/sqls/DataManagement/ticket/selectTicketSearchList.sql -text
contracts/sqls/Ticket/selectAssociatedDocumentList.sql -text
contracts/sqls/Ticket/selectCouponList.sql -text
contracts/sqls/Ticket/selectCouponRemarkList.sql -text
contracts/sqls/Ticket/selectDocumentFareComponentCouponList.sql -text
contracts/sqls/Ticket/selectDocumentFareComponentList.sql -text
contracts/sqls/Ticket/selectDocumentFareList.sql -text
contracts/sqls/Ticket/selectDocumentFormOfPaymentList.sql -text
contracts/sqls/Ticket/selectDocumentRemarkList.sql -text
contracts/sqls/Ticket/selectExchangedFromDocument.sql -text
contracts/sqls/Ticket/selectFrequentFlyerCouponLevel.sql -text
contracts/sqls/Ticket/selectTicketList.sql -text
contracts/sqls/Ticket/selectTicketTaxList.sql -text
/gradle-app.setting -text
/gradle.properties -text
gradle/wrapper/gradle-wrapper.jar -text
gradle/wrapper/gradle-wrapper.properties -text
/gradlew -text
/gradlew.bat -text
/pom.xml -text
/settings.gradle -text
src/main/resources/assembly/cdsr_contracts_jar_assembly.xml -text
src/main/resources/assembly/cdsr_contracts_zip_assembly.xml -text
src/main/resources/assembly/cdsr_sources_jar_assembly.xml -text
src/main/resources/xjb/GlobalBindings.xjb -text
src/main/resources/xjb/ReservationBindings.xjb -text
src/main/resources/xjb/SalesBindings.xjb -text
src/main/resources/xjb/TicketBindings.xjb -text
src/main/resources/xsd/cdsr-common-v1.xsd -text
src/main/resources/xsd/cdsr-dms-common-v1.xsd -text
src/main/resources/xsd/cdsr-dms-v1.xsd -text
src/main/resources/xsd/cdsr-reservation-cdm-v1.xsd -text
src/main/resources/xsd/cdsr-sales-cdm-v1.xsd -text
src/main/resources/xsd/cdsr-ticket-cdm-v1.xsd -text
src/main/resources/xsd/idw_dms_v0.xsd -text
